/* COLORS */
.txt-white {
	color: #FFFFFF;
}

.bg-white {
	background-color: #FFFFFF;
}

.txt-grey {
	color: #F0F4F8;
}

.bg-grey {
	background-color: #F0F4F8;
}

.txt-green {
	color: #7BED8D;
}

.bg-green {
	background-color: #7BED8D;
}

.txt-light-blue {
	color: #A6BCD0;
}

.bg-light-blue {
	background-color: #A6BCD0;
}

.txt-medium-blue {
	color: #748A9D;
}

.bg-medium-blue {
	background-color: #748A9D;
}

.txt-dark-blue {
	color: #4E5D6A;
}

.bg-dark-blue {
	background-color: #4E5D6A;
}

/* BODY */

body {
	font-family: acumin-pro, sans-serif;
	font-style: normal;
	margin: 0;
}


/* HEADER NAVIGATION */

#separator {
	height: 2px;
}

.brand-logo-txt {
	font-weight: bold;
	font-size: 2.28rem;
	white-space: nowrap;
}

.brand-logo {
	padding: 0 !important;
}

.menu {
	margin-bottom: 0px;
	padding: 15px;
}

.menu-item {
	cursor: pointer;
}

.menu-item:hover {
	color: #7BED8D !important;
	background-color: transparent !important;
}


#search {
	height: 50px;
	vertical-align: middle;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#search input {
	border-bottom: 0px;
	box-shadow: 0 0px 0 0 transparent;
}

#search ::placeholder {
	color: #A6BCD0;
	opacity: 1;
}

#search label {
	color: #A6BCD0;
}

#search input:focus+label {
	color: #7BED8D;
}

#search .prefix.active {
	color: #7BED8D;
}

/* LEFT NAVIGATION */

#left-menu {
	float: left;
	margin-left: 10%;
	margin-top: 5px;
}

#left-menu li {
	cursor: pointer;
	padding-left: 1em;
	color: #748A9D;
}

#left-menu li:hover {
	font-weight: bold;
}

























th,
td {
	font-weight: normal;
	padding: 0 5px 0 5px;
	vertical-align: middle;
}

th {
	background: #34719e;
	color: #FFF;
	height: 30px;
	line-height: 20px;
	font-size: 14px;
}